:root {
    --blue: #324872;
    --green: #A1C426;
    --gray: #EBECEC;
    --white: #FFFFFF;
    --fontBrown: #5b5b5b;
    --black: #000000;
    --fontDarkBlue:#212529;
    --greenHover: #A1C426;
}

body {
    max-width: 1920px;
    overflow-x: hidden;
    font-family: 'Century Gothic', sans-serif;
    background-color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.line-height-2 {
    line-height: 2rem;
}

.font-size-small {
    font-size: 1rem;
}

.font-size-medium {
    font-size: 1.3rem;
}

.color-green {
    color: var(--green);
}

.color-blue {
    color:var(--blue);
}

.color-brown {
    color: var(--fontBrown);
}

.color-dark-blue {
    color: var(--fontDarkBlue);
}

.input {
    border: 2px solid var(--green);
    padding: 5px 0 5px 20px;

    &::placeholder {
        color: var(--blue);
        font-weight: 700;
    }

    &:focus {
        outline: none;
    }
}

.button {
    padding: 5px 20px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    font-size: 1.375rem;
    font-weight: 500;

    &:hover {
        filter: contrast(130%);
    }
}

.header__list {
    &-item {
        position: relative;
        font-size: 1.125rem;
        cursor: pointer;
        padding: 0 5px 4px 5px;
        border-bottom: 4px solid transparent;
        transition: all .3s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -4px;
            width: 50%;
            height: 4px;
            background-color: var(--white);
            transition: all .3s ease-in-out;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 50%;
            height: 4px;
            background-color: var(--white);
            transition: all .3s ease-in-out;
        }

        &:hover {
            border-bottom: 4px solid var(--green);

            &::after {
                left: 100%;
            }

            &::before {
                left: -50%;
            }
        }
    }
}

.container {

    .invalid-person {
        display: flex;
        position: absolute;
        top: 250px;
        right: -300px;
        z-index: 1000;
        transition: transform .3s ease-in-out;
        overflow-x: hidden;

        &__image {
            cursor: pointer;
        }

        &__menu {
            background-color: var(--gray);
            width: 300px;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: var(--blue);
                font-size: 16px;
            }

            .button {
                font-size: 24px;
                margin-bottom: 30px; 
            }

            &-list {
                width: 50%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                &-item {
                    font-size: 16px;
                    cursor: pointer;

                    &--medium {
                        font-size: 20px;
                    }

                    &--big {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

.services {

    .service {
        position: relative;
        flex-basis: 19%;
        margin-top: 40px;

        .image {
            cursor: pointer;
            width: 150px;
            height: 150px;
            background-color: var(--gray);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            &--active {
                background-color: var(--green);
            }
        }

        .description {
            text-transform: uppercase;
            cursor: pointer;
            letter-spacing: .2rem;
        }

        &__list {
            position: absolute;
            width: 1000px;
            top: 360px;
            color: var(--fontBrown);
            z-index: 0;
            opacity: 0;
            transition: opacity .5s ease-in-out;
            display: none;

            &-item {
                margin-top: 20px;
                width: fit-content;

                p {
                    padding: 5px 15px 5px 5px;
                    transition: background .15s ease-in-out;
                }

                &:hover {
                    cursor: pointer;
                    font-weight: 600;
                    color: var(--blue);
                }

                &:hover p {
                    background-color: var(--greenHover);
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: -30px;
                left: 45%;
                transform: translateX(-50%);
                width: 63%;
                height: 1px;
                background-color: var(--black);
            }

            &::after {
                content: '';
                position: absolute;
                bottom: -30px;
                left: 45%;
                transform: translateX(-50%);
                width: 63%;
                height: 1px;
                background-color: var(--black);
            }
        }
    }
    
}

.benefits {

    .benefit {
        flex-basis: 25%;

        .image {
            background-color: var(--gray);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            padding: 30px;
        }
       
        &--green {

            .image {
                background-color: var(--green);
            }
            
        }
    }
}

.footer-green {
    background-color: var(--green);
    color: var(--white);
    padding: 40px 40px 40px 160px;
}

@media (max-width:992px) {
    .services {
        justify-content: space-evenly !important;
    }

    .footer-green {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .benefits {
        flex-wrap: wrap;
        gap: 20px 0;

        .benefit {
            flex-basis: 50%;
        }
    }
}

@media (max-width: 576px) {
    .benefits {

        .benefit {
            flex-basis: 100%;
        }
    }
}